 {% load static %}

<header>
  <nav>
    <div class='flex justify-between items-center max-w-6xl mx-auto h-16 p-6'>
      <div class='flex'>
        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
      </div>
      <div class='hidden lg:gap-x-12 md:flex md:gap-x-8'>
        <a href="#" class='text-base font-semibold leading-7 text-gray-900'>À propos de moi</a>
        <a href="#" class='text-base font-semibold leading-7 text-gray-900'>Projets</a>
        <a href="#" class='text-base font-semibold leading-7 text-gray-900'>Ressources</a>
      </div>
      <div class='hidden md:flex'>
        <a href="#" class='text-base font-semibold leading-7 text-gray-900 px-4'>Login <span aria-hidden="true">&rarr;</span></a>
      </div>

      <div id="hamburger" class="space-y-1 md:hidden cursor-pointer z-20 px-4">
        <div id="ham-el" class="w-6 h-1 bg-black"></div>
        <div id="ham-el" class="w-6 h-1 bg-black"></div>
        <div id="ham-el" class="w-6 h-1 bg-black"></div>
      </div>

      <ul id="menu" class="hidden top-0 absolute bg-slate-400 w-full left-0 text-center space-y-5 py-5 shadow-md">
        <li><a href="#" class='text-base font-semibold leading-7 text-gray-900'>À propos de moi</a></li>
        <li><a href="#" class='text-base font-semibold leading-7 text-gray-900'>Projets</a></li>
        <li><a href="#" class='text-base font-semibold leading-7 text-gray-900'>Ressources</a></li>
      </ul>
    </div>
  </nav>

</header>




