 {% load static %}

  <nav class="w-full fixed top-0 bg-white z-10">
    <div class="container mx-auto py-5 flex justify-between items-center" >
      <div class="flex items-center gap-2">
        <img src="{% static 'img/jeremy-50.png' %}" alt="">
        <div class="container">
          <span>Jérémy Vangansberg</span>
        </div>
      </div>
      
        <ul class="hidden md:flex space-x-10 text-Onyx font-bold text-sm uppercase">
          <li class="hover:text-FrenchGray"><a href="">Services</a></li>
          <li class="hover:text-FrenchGray"><a href="">Projets</a></li>
          <li class="hover:text-FrenchGray"><a href="">Outils</a></li>
          <li class="hover:text-FrenchGray"><a href="">Ressources</a></li>
          <li class="hover:text-FrenchGray"><a href="">Contact</a></li>
        </ul>

        <img src="{% static 'img/moon.png' %}" alt="" class="hidden md:block w-5 cursor-pointer">

        <div id="hamburger" class="space-y-1 md:hidden cursor-pointer z-20">
          <div id="ham-el" class="w-6 h-1 bg-black"></div>
          <div id="ham-el" class="w-6 h-1 bg-black"></div>
          <div id="ham-el" class="w-6 h-1 bg-black"></div>
        </div>

        <ul id="menu" class="hidden bg-MountbattenPink absolute left-0 top-0 w-full p-10 rounded-b-3xl space-y-5 text-Onyx text-center">
          <li><a href="">Services</a></li>
          <li><a href="">Projets</a></li>
          <li><a href="">Outils</a></li>
          <li><a href="">Ressources</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      
  </nav>
