 {% load static %}

 <header>
    <div class='flex justify-between items-center max-w-6xl mx-auto h-16 p-6'>
      <div class='flex'>
        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
      </div>
      <div class='flex lg:gap-x-12'>
        <a href="#" class='text-base font-semibold leading-7 text-gray-900'>À propos de moi</a>
        <a href="#" class='text-base font-semibold leading-7 text-gray-900'>Projets</a>
        <a href="#" class='text-base font-semibold leading-7 text-gray-900'>Ressources</a>
      </div>
      <div class='flex'>
        <a href="#" class='text-base font-semibold leading-6 text-gray-900'>Login <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
  </nav>
</header>




