{% extends "base.html" %}

{% block content %}

<div class='mx-auto max-w-6xl'>

<p>reiciendis earum perferendis voluptates ab culpa minima hic harum, id ullam nemo nobis? Repellat cumque velit, numquam id odit in.
    Dicta quas dolorem architecto sint harum inventore quo quasi doloremque et, voluptates culpa vel distinctio perspiciatis consequuntur deserunt repellendus! Ullam ratione pariatur, eos laboriosam minus eveniet sed inventore cupiditate eligendi.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus atque 
</p>
</div>
{% endblock content %}