{% extends 'base.html' %}

{% block content %} 

<h1>Les bases de djangos</h1>

<p>Comment initier un projet avec django, conda et git</p>

<h2>Initialisation du projet
</h2>

<p>Activer un environnement conda spécifique au projet :
</p>

<pre><code class='language-bash'>conda activate my_env</code></pre>

<p>Initier un projet :
</p>

<pre><code class='language-bash'>django-admin startproject mysite</code></pre>


<p>La commande ci-dessus va créer un dossier mysite à l’endroit où le terminal se trouve. 
    Pour pouvoir accéder à ce dossier il faut utiliser la commande :</p>

<pre><code class='language-bash'>cd mysite</code></pre>

<p>Une fois que vous vous êtes placés dans le dossier contenant votre projet, c’est le bon moment pour initialiser git :</p>

<pre><code class='language-bash'>git status
</code></pre>

<p>La commande précédente permet de vérifier que vous vous ne trouvez pas déjà dans un dossier git (un dossier parent par exemple, si c’est le cas, vous devez menez l’enquête et supprimer le dossier .git responsable)</p>

{% endblock content %}
