{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class='container'> 
    <h1 class='mt-3 mb-3'>Django x Heroku</h1>
    <p> <i>Déploiement d'un projet Django4.x sur Heroku inspiré par la documentation officielle d'<a href="https://devcenter.heroku.com/articles/django-app-configuration">Heroku</a>. </br> Attention ce tuto nécessite une souscription payante (au minimum Eco Dynos Plan ).</i></p>

    <p>Avant de vous lancer dans le déploiement, vérifier que <b>votre application est fonctionnelle en 
    local et que vous avez <i>commit</i> les derniers chargements.</b>  Pour la suite, il faudra également que votre github soit à jour.</p>

    <h2 class="mb-4">1. Configuration de Django</h2>

    <h3>Étapes préliminaires</h3>
    <ul>
        <li>Créer un fichier <i>.env</i>  pour y stocker la <code class='language-bash'>SECRET_KEY</code>  et autres secrets (attention à la forme : pas d’espaces)</li>
        <li>À installer dans votre environnement : 
            <ul>
                <li><pre><code class='language-bash'>$ pip install whitenoise</code></pre></li>
                <li><code class='language-bash'>$ pip install dj_database_url</code> </li>
            </ul>
        </li>
        <li>La commande <code class='language-python'>load_dotenv()</code> peut causer des bugs lors du déploiement. 
            Vous pouvez commenter ou passer cette commande dans une condition pour l'éxécuter uniquement pendant le développement (comme dans le code ci-dessous).</li>
    </ul>

    <h3>Modification du fichier <code class='language-python'>setttings.py</code> </h3>

    <p>Les plus <b>gros changements</b> lorsqu’on passe du développement à la production avec Django <b> se trouveront dans le fichiers <code class='language-python'>setttings.py</code></b>.
         Il y a plusieurs façon de faire. On peut, par exemple, créer deux fichiers <code class='language-python'>dev.py</code> et
         <code class='language-python'>prod.py</code>. On peut également garder un seul fichier <code class='language-python'>setttings.py</code> et inclure des conditions. Nous utiliserons cette derniére méthode dans ce tuto. 
         </p>
    
    <p>Pour des raisons pratiques vous pouvez créer une copie du fichier <code class='language-python'>setttings.py</code> et y coller le bloc de code ci-dessous. 
        Ensuite effectuer les modifications suivantes : </p>
    <ul>
        <li>Modifier <code class='language-python'>project_name</code> (utiliser ctrl + D ou recherche et remplacer) par le nom de votre projet 
            (le nom que vous avez donné après … startproject project_name, c’est également le nom du dossier dans lequel le fichier settings.py se trouve)</li>
        <li>Ajouter vos applications dans <code class='language-python'>INSTALLED_APPS</code></li>
        <li>Modifier <code class='language-python'>CSRF_TRUSTED_ORIGIN</code> par l’url de votre application heroku. Attention, il n’y pas de slash final.</li>
        <li>Si vous avez créer une classe <code class='language-python'>User</code>  perso : modifier le chemin de <code class='language-python'>AUTH_USER_MODEL</code></li>
        <li>[optionnel] : modifier/ajouter le chemin du dossier <code class='language-python'>static</code> si vous avez des dossiers static dans vos applications </li>
    </ul>

<pre style="height: 500px">
<code class="language-python overflow-auto">"""
Django settings for project_name project.
Generated by 'django-admin startproject' using Django 4.0.
For more information on this file, see
https://docs.djangoproject.com/en/4.0/topics/settings/
For the full list of settings and their values, see
https://docs.djangoproject.com/en/4.0/topics/settings/
"""

import dj_database_url
import os
from django.test.runner import DiscoverRunner
from pathlib import Path


IS_HEROKU = "DYNO" in os.environ


# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = Path(__file__).resolve().parent.parent


# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/4.0/howto/deployment/checklist/


if not IS_HEROKU:
    from dotenv import load_dotenv
    load_dotenv()

if 'SECRET_KEY' in os.environ:
    SECRET_KEY = os.environ["SECRET_KEY"]


# Generally avoid wildcards(*). However since Heroku router provides hostname validation it is ok
if IS_HEROKU:
    ALLOWED_HOSTS = ["*"]
else:
    ALLOWED_HOSTS = []

# SECURITY WARNING: don't run with debug turned on in production!
if not IS_HEROKU:
    DEBUG = True

# Application definition

INSTALLED_APPS = [
    "django.contrib.admin",
    "django.contrib.auth",
    "django.contrib.contenttypes",
    "django.contrib.sessions",
    "django.contrib.messages",
    "django.contrib.staticfiles",
    # Ajouter les applications
    
]

MIDDLEWARE = [
    "django.middleware.security.SecurityMiddleware",
    "whitenoise.middleware.WhiteNoiseMiddleware",
    "django.contrib.sessions.middleware.SessionMiddleware",
    "django.middleware.common.CommonMiddleware",
    "django.middleware.csrf.CsrfViewMiddleware",
    "django.contrib.auth.middleware.AuthenticationMiddleware",
    "django.contrib.messages.middleware.MessageMiddleware",
    "django.middleware.clickjacking.XFrameOptionsMiddleware",
]

ROOT_URLCONF = "project_name.urls"

TEMPLATES = [
    {
        "BACKEND": "django.template.backends.django.DjangoTemplates",
        "DIRS": [BASE_DIR / 'templates' ],
        "APP_DIRS": True,
        "OPTIONS": {
            "context_processors": [
                "django.template.context_processors.debug",
                "django.template.context_processors.request",
                "django.contrib.auth.context_processors.auth",
                "django.contrib.messages.context_processors.messages",
            ]
        },
    }
]

WSGI_APPLICATION = "project_name.wsgi.application"


# Database
# https://docs.djangoproject.com/en/4.0/ref/settings/#databases

MAX_CONN_AGE = 600

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": os.path.join(BASE_DIR, "db.sqlite3")
    }
}

if "DATABASE_URL" in os.environ:
    # Configure Django for DATABASE_URL environment variable.
    DATABASES["default"] = dj_database_url.config(
        conn_max_age=MAX_CONN_AGE, ssl_require=True)

    # Enable test database if found in CI environment.
    if "CI" in os.environ:
        DATABASES["default"]["TEST"] = DATABASES["default"]


# Password validation
# https://docs.djangoproject.com/en/4.0/ref/settings/#auth-password-validators

AUTH_PASSWORD_VALIDATORS = [
    {
        "NAME": "django.contrib.auth.password_validation.UserAttributeSimilarityValidator"
    },
    {"NAME": "django.contrib.auth.password_validation.MinimumLengthValidator"},
    {"NAME": "django.contrib.auth.password_validation.CommonPasswordValidator"},
    {"NAME": "django.contrib.auth.password_validation.NumericPasswordValidator"},
]


# Internationalization
# https://docs.djangoproject.com/en/4.0/topics/i18n/

LANGUAGE_CODE = "en-us"

TIME_ZONE = "UTC"

USE_I18N = True

USE_TZ = True


# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/4.0/howto/static-files/

STATIC_ROOT = BASE_DIR / "staticfiles"
STATIC_URL = "static/"

STATICFILES_DIRS = (
    os.path.join(BASE_DIR, 'static'),
)
MEDIA_URL = '/media/'
MEDIA_ROOT = os.path.join(BASE_DIR, 'media')

# Enable WhiteNoise's GZip compression of static assets.
STATICFILES_STORAGE = "whitenoise.storage.CompressedManifestStaticFilesStorage"


# Test Runner Config
class HerokuDiscoverRunner(DiscoverRunner):
    """Test Runner for Heroku CI, which provides a database for you.
    This requires you to set the TEST database (done for you by settings().)"""

    def setup_databases(self, **kwargs):
        self.keepdb = True
        return super(HerokuDiscoverRunner, self).setup_databases(**kwargs)


# Use HerokuDiscoverRunner on Heroku CI
if "CI" in os.environ:
    TEST_RUNNER = "project_name.settings.HerokuDiscoverRunner"


# Default primary key field type
# https://docs.djangoproject.com/en/4.0/ref/settings/#default-auto-field

DEFAULT_AUTO_FIELD = 'django.db.models.BigAutoField'

LOGIN_REDIRECT_URL = '/'

AUTH_USER_MODEL = "divers.User"

CSRF_TRUSTED_ORIGINS = ['https://my_heroku_app.herokuapp.com']</code>
</pre>
    
    <h3>Aperçu de la structure d'un dossier Django prêt pour le déploiement :</h3>
    
    <img src="{% static 'img/SS-folder.png' %}" alt="screen-shot-du-dossier" class='my-3'>
    
    <p>Vérifier que votre <code class='language-bash'>.gitignore</code> track les bons fichiers et dossiers.
    Pour pouvoir déployer une application Django sur Heroku nous avons besoin de deux nouveaux fichiers :</p>
    <ul>
        <li><code class='language-bash'>Procfile</code></li>
        <li><code class='language-bash'>requirements.txt</code></li>
    </ul>
    
    <h3>Création du <code class='language-bash'>Procfile</code></h3>
    
    <p>C’est un fichier sans extension (attention à la majuscule) qui contiendra la ligne de code suivante : </p>
    
    <pre><code class='language-bash'>web: python manage.py runserver 0.0.0.0:\$PORT</code></pre>
    
    <p>Ce fichier est utilisé par Heroku pour lancer votre application web.</p>
    
    
    <h3>Création du <code class='language-bash'>requirements.txt</code></h3>
    
    <p>C’est un fichier sans extension (attention à la majuscule) qui contiendra la ligne de code suivante : </p>
    
<pre>
<code class='language-python'>django>=4.0,<5.0
gunicorn>=20.0,<21.0
dj-database-url>=1.0,<2.0
whitenoise>=6.0,<7.0
psycopg2>=2.0,<3.0
django-widget-tweaks
django-crispy-forms
requests
#Ajouter plus de modules python</code></pre>
    
    <p>Ce fichier sera utiliser par Heroku pour installer toutes les librairies nécessaires sur le serveur.</p>
    
    <h2 class="mb-4">2. Heroku</h2> 
    
    <p>Avant toutes choses, il faut créer un compte Heroku et souscrire à l'Eco Dynos Plan (5$/mois). Pour plus d'informations, vous pouvez consulter le site d'<a href="https://blog.heroku.com/new-low-cost-plans">Heroku</a>.</p>

    <p>Il existe 3 possibilités de déployer une application web sur Heroku :</p>

    <ul>
        <li>Heroku CLI</li>
        <li>Github</li>
        <li>Container</li>
    </ul>
    <p>
        Nous allons apprendre comment utiliser <b>la méthode avec Github</b> . Cette méthode consiste à <i>push</i> son projet sur un répertoire Github et laisser Heroku déployer l'application. 
        Il faut donc que tous les fichiers nécessaires (notamment les fichiers Procfile et requirements.txt)
    </p>
    <h3>Déploiement pas à pas</h3>
    <ol>
        <li>Rendez-vous sur <a href="https://dashboard.heroku.com/apps">https://dashboard.heroku.com/apps</a></li>
        <li>New / Create new app</li>
        <li>Donner un nom <b>unique</b>  à votre application</li>
        <li>Choisir une région</li>
        <li>Dans l’onglet Ressources, choisir <b>Heroku Postgres</b> et choisissez le plan mini a 0.01$</li>
        <li>Dans l’onglet settings :
            <ul>
                <li>Ajouter le buildpack : python</li>
                <li>Dans Config Vars, ajouter vos variables d’environnement (celles dans le .env en local)</li>
            </ul>
        </li>
        <li>Dans l’onglet <b>Deploy</b> , choisir Github comme Deployment method</li>
        <li>Renseigner votre github et le repo qui contient votre projet</li>
        <li>Effectuer une recherche et faire connect</li>
        <li>Vous pouvez activer Enable Automatic Deploys afin que vous nouveaux <i>push</i> soient automatiquement pris en compte</li>
        <li>Choisir la branche de votre choix et cliquer sur <b>deploy branch</b> </li>
        <li>Pendant le déploiement vous pouvez voir les logs au bas de cette page. 
            Toutefois si votre déploiement échoue, vous pouvez cliquer sur More en haut à droite et View logs</li>
    </ol>
    <p>Quand vous avez réussi vous pouvez vous connectez à la ligne de commande de votre serveur hébergé chez Heroku.</p>
    <p>Depuis votre terminal :</p>
    
    <pre><code class='language-bash'>heroku login
heroku run bash -a heroku_app_name</code></pre>

    <p>Une fois que vous êtes dans le terminal connecté à Heroku :</p>

    <pre><code class='language-bash'>python manage.py makemigrations
python manage.py migrate
python manage.py createsuperuser</code></pre>

    <h3 class='mt-3 mb-3'>[Optionnel] Transférer sa BDD local vers Heroku Postgres</h3>

    <p>
        Quand vous déployez votre application pour la première fois votre BDD Postgres est vierge. 
        Vous pouvez exporter la BDD en local vers votre application en ligne avec les étapes suivantes : 
    </p>
    <ol>
        <li><p>Exporter votre bdd sqlite3 vers un fichier db.json </p>
            <pre><code class='language-bash'>python manage.py dumpdata --exclude contenttypes > db.json</code></pre>
        </li>
        <li>Push ce nouveau fichier sur github et déployer votre application Heroku</li>
        <li><p>Se connecter à la ligne de commande du serveur
        </p>
            <pre><code class='language-bash'>heroku run bash -a _heroku_app_name</code></pre></li>
        <li><p>Importer la BDD (à éxécuter depuis le bash connecté à Heroku)</p>
            <pre><code class='language-bash'>python manage.py loaddata db.json</code></pre></li>
    </ol>
</div>

<script>hljs.highlightAll();</script>

{% endblock content %}


